body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #666666;
}

input {
  padding: 10px;
  border: solid 1px #666666;
  border-radius: 5px;
  margin: 0 5px;
}

button {
  padding: 10px;
  border: solid 1px #0064dc;
  background-color: #074ea5;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}